@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "Sans serif";
}

.title--100 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

@media screen and (min-width: 900px) {
  .title--100 {
    font-size: 56px;
  }
}

.title--200 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .title--200 {
    font-size: 48px;
  }
}

.title--300 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  .title--300 {
    font-size: 36px;
  }
}

.text {
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  color: #1f2e2e;
}

@media screen and (min-width: 900px) {
  .text {
    font-size: 20px;
  }
}

.text-center {
  text-align: center;
}

.topbar {
  background-color: #e6ffe6;
}

.topbar__inner {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.topbar__navlink {
  display: inline-block;
  text-decoration: none;
  color: #006600;
  padding-right: 20px;
}

.topbar__navlink:hover, .topbar__navlink:active, .topbar__navlink:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #006600;
          text-decoration-color: #006600;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}

.topbar__logo {
  border-radius: 50%;
  overflow: hidden;
}

.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  height: calc(100vh - 80px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../docs/monstera-leaves.jpeg");
  background-size: cover;
  background-color: #cccccc;
  opacity: 0.65;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.hero div {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  max-width: 800px;
  position: relative;
}

.hero a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  color: #1f2e2e;
  border: 1px solid #006600;
  border-radius: 4px;
}

.hero a:hover {
  background-color: #006600;
  color: white;
}

.experience {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6ffe6;
}

.experience__inner {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.experience__inner h2 {
  padding-bottom: 20px;
}

.experience__three-cards {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .experience__three-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .experience__three-cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.experience__card {
  border: 1px solid #006600;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  padding: 20px;
}

@media screen and (min-width: 750px) {
  .experience__card--skills {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media screen and (min-width: 900px) {
  .experience__card--skills {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
}

.experience__card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.experience__card__inner img {
  height: 100px;
  width: auto;
  padding-right: 20px;
  padding-bottom: 20px;
}

.experience__card__inner2 {
  padding-top: 20px;
}

.experience__card__inner2 ul {
  padding-left: 20px;
}

.about {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about img {
  display: block;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .about img {
    width: 300px;
    height: 300px;
  }
}

.about__two-cards {
  padding-top: 20px;
}

@media screen and (min-width: 900px) {
  .about__two-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__content {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #006600;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  padding: 10px;
  margin-top: 20px;
  background-color: #e6ffe6;
}

@media screen and (min-width: 900px) {
  .about__content {
    margin-left: 20px;
  }
}

.projects {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6ffe6;
}

.projects__inner {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.projects__three-cards {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 750px) {
  .projects__three-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .projects__three-cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.projects__card {
  display: inline-block;
  border: 1px solid #006600;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  overflow: hidden;
}

.projects__card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 750px) {
  .projects__card--first {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .projects__card--first img {
    height: 300px;
  }
}

@media screen and (min-width: 900px) {
  .projects__card--first {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
  .projects__card--first img {
    height: 100%;
  }
}

.blog {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-posts {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 750px) {
  .blog-posts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .blog-posts {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.blog__card {
  display: block;
  text-decoration: none;
  color: #1f2e2e;
  position: relative;
  border: 1px solid #006600;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  overflow: hidden;
}

.blog__card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__img__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(209, 224, 224, 0.5);
  color: #1f2e2e;
  padding: 10px;
}

@media screen and (min-width: 750px) {
  .blog__card--first {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .blog__card--first img {
    height: 300px;
  }
}

@media screen and (min-width: 900px) {
  .blog__card--first {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
  .blog__card--first img {
    height: 100%;
  }
}

@media screen and (min-width: 900px) {
  .blog__card--row1 {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
  }
  .blog__card--row1 img {
    height: 300px;
  }
}

@media screen and (min-width: 900px) {
  .blog__card--row2 {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
  }
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../docs/monstera-leaves.jpeg");
    background-size: cover;
    background-color: #cccccc;
    opacity: 0.65;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    z-index: 1;
  }
}

.wrapper--inner {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .wrapper--inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .blog-post {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    z-index: 2;
    grid-column: span 9;
    grid-row: span 12;
  }
}

.blog__two-cards {
  padding-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.blog__two-cards p {
  padding-bottom: 20px;
}

.blog__two-cards img {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .blog__two-cards img {
    width: 600px;
    height: 500px;
  }
}

.blog__content {
  padding: 10px 0;
  margin-top: 20px;
}

.sidebar {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;
  z-index: 2;
  background-color: white;
  border-radius: 8px;
  grid-column: span 3;
  grid-row: span 3;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #1f2e2e;
  padding-top: 10px;
}

.sidebar a:hover, .sidebar a:active, .sidebar a:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #006600;
          text-decoration-color: #006600;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}

@media screen and (min-width: 900px) {
  .sidebar {
    display: block;
  }
}

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6ffe6;
}

.contact__inner {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.contact__inner p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  padding-top: 20px;
}

.form__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 750px) {
  .form__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .form__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 750px) {
  .form__name,
  .form__email {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
}

.form__name input,
.form__email input {
  padding: 10px;
  border: 1px solid #006600;
  border-radius: 4px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .form__name {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
  }
}

@media screen and (min-width: 900px) {
  .form__email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
}

@media screen and (min-width: 750px) {
  .form__message {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media screen and (min-width: 900px) {
  .form__message {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    grid-row: span 2;
  }
}

textarea {
  height: 105px;
  width: 100%;
  padding: 10px;
}

.form__button {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  color: #1f2e2e;
  border: 1px solid #006600;
  border-radius: 4px;
  width: 100px;
  margin: 20px auto;
}

.form__button:hover {
  background-color: #006600;
  color: white;
}
/*# sourceMappingURL=main.css.map */