@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "Sans serif";
  scroll-behavior: smooth;
}

.title--100 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 900px) {
  .title--100 {
    font-size: 56px;
  }
}

.title--200 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .title--200 {
    font-size: 48px;
  }
}

.title--300 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  .title--300 {
    font-size: 36px;
  }
}

.title--400 {
  font-family: Montserrat, "Sans Serif";
  color: #1f2e2e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  .title--400 {
    font-size: 24px;
  }
}

.text {
  font-family: "Open Sans", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

@media screen and (min-width: 900px) {
  .text {
    font-size: 20px;
  }
}

.text-center {
  text-align: center;
}

.topbar {
  background-color: #334d4d;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topbar__inner {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 750px) {
  .topbar__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.topbar__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar__logo {
  border-radius: 50%;
  overflow: hidden;
  width: 75px;
}

.topbar__menu {
  display: inline-block;
  text-decoration: none;
  background-color: #334d4d;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  border: 1px solid #334d4d;
  border-radius: 4px;
  position: relative;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0 0.7em #1f2e2e;
          box-shadow: 0 0.7em #1f2e2e;
  cursor: pointer;
  background-color: #a3c2c2;
  color: #1f2e2e;
  margin-top: 0;
}

.topbar__menu:hover {
  background-color: #fff;
  color: #1f2e2e;
}

.topbar__menu:active {
  top: 0.4em;
  -webkit-box-shadow: 0 0.5em #1f2e2e;
          box-shadow: 0 0.5em #1f2e2e;
}

@media screen and (min-width: 750px) {
  .topbar__menu {
    display: none;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 750px) {
  .navbar {
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navbar--hidden {
  display: none;
}

@media screen and (min-width: 750px) {
  .navbar--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.topbar__navlink {
  text-decoration: none;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.topbar__navlink:first-child {
  margin-top: 15px;
}

@media screen and (min-width: 750px) {
  .topbar__navlink {
    font-size: 1.25rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
  }
  .topbar__navlink:first-child {
    margin-top: 0;
  }
}

.topbar__navlink:hover, .topbar__navlink:active, .topbar__navlink:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}

.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .hero {
    height: calc(100vh - 80px);
  }
}

.hero::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background-image: url("../docs/monstera-background.jpeg");
  background-size: cover;
  background-color: #a3c2c2;
  background-position: center center;
  opacity: 0.65;
  -webkit-filter: blur(4px) grayscale(60%);
          filter: blur(4px) grayscale(60%);
}

.hero div {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  max-width: 800px;
  position: relative;
}

.hero a {
  display: inline-block;
  text-decoration: none;
  background-color: #334d4d;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  border: 1px solid #334d4d;
  border-radius: 4px;
  position: relative;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0 0.7em #1f2e2e;
          box-shadow: 0 0.7em #1f2e2e;
  cursor: pointer;
}

.hero a:hover {
  background-color: #fff;
  color: #1f2e2e;
}

.hero a:active {
  top: 0.4em;
  -webkit-box-shadow: 0 0.5em #1f2e2e;
          box-shadow: 0 0.5em #1f2e2e;
}

.experience {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #a3c2c2;
}

@media screen and (min-width: 900px) {
  .experience {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.experience__inner {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.experience__inner h2 {
  padding-bottom: 20px;
}

.experience__inner a {
  display: inline-block;
  text-decoration: none;
  background-color: #334d4d;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  border: 1px solid #334d4d;
  border-radius: 4px;
  position: relative;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0 0.7em #1f2e2e;
          box-shadow: 0 0.7em #1f2e2e;
  cursor: pointer;
  margin: 20px;
}

.experience__inner a:hover {
  background-color: #fff;
  color: #1f2e2e;
}

.experience__inner a:active {
  top: 0.4em;
  -webkit-box-shadow: 0 0.5em #1f2e2e;
          box-shadow: 0 0.5em #1f2e2e;
}

.experience__three-cards {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .experience__three-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .experience__three-cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.experience__card {
  border: 1px solid #334d4d;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  padding: 20px;
}

@media screen and (min-width: 750px) {
  .experience__card--skills {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media screen and (min-width: 900px) {
  .experience__card--skills {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
}

.experience__card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.experience__card__inner img {
  height: 100px;
  width: auto;
  padding-right: 20px;
  padding-bottom: 20px;
}

.experience__card__inner2 {
  padding-top: 20px;
}

.experience__card__inner2 ul {
  padding-left: 20px;
}

.about {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 900px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.about img {
  display: block;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .about img {
    width: 250px;
    height: 250px;
  }
}

.about__two-cards {
  padding-top: 20px;
}

@media screen and (min-width: 900px) {
  .about__two-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__content {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #334d4d;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #a3c2c2;
}

@media screen and (min-width: 900px) {
  .about__content {
    margin-left: 20px;
  }
}

.projects {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #a3c2c2;
}

@media screen and (min-width: 900px) {
  .projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.projects__inner {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.projects__three-cards {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 750px) {
  .projects__three-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .projects__three-cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.projects__card {
  display: block;
  text-decoration: none;
  color: #000;
  position: relative;
  border: 1px solid #334d4d;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  overflow: hidden;
  min-width: 260px;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .projects__card {
    margin: 0;
    max-width: 100%;
  }
}

.projects__card img {
  display: block;
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 900px) {
  .projects__card img {
    height: 300px;
  }
}

.projects__card:hover .overlay {
  opacity: 0.9;
}

.projects__card--first img {
  max-height: 300px;
}

@media screen and (min-width: 750px) {
  .projects__card--first {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media screen and (min-width: 900px) {
  .projects__card--first {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
  .projects__card--first img {
    height: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #334d4d;
}

.overlay__content {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 900px) {
  .blog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.blog-posts {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  margin-top: 20px;
  padding: 20px 0;
}

@media screen and (min-width: 750px) {
  .blog-posts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .blog-posts {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.blog__card {
  display: block;
  text-decoration: none;
  color: #000;
  position: relative;
  border: 1px solid #334d4d;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  overflow: hidden;
  min-width: 260px;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .blog__card {
    margin: 0;
    max-width: 100%;
  }
}

.blog__card img {
  display: block;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__card:hover .overlay {
  opacity: 0.9;
}

@media screen and (min-width: 750px) {
  .blog__card--first {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .blog__card--first img {
    height: 300px;
  }
}

@media screen and (min-width: 900px) {
  .blog__card--first {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }
  .blog__card--first img {
    height: 100%;
  }
}

@media screen and (min-width: 900px) {
  .blog__card--row1 {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
  }
  .blog__card--row1 img {
    height: 300px;
  }
}

@media screen and (min-width: 900px) {
  .blog__card--row2 {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
  }
}

.blog-page {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .blog-page::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background-image: url("../docs/monstera-background.jpeg");
    background-size: cover;
    background-color: #a3c2c2;
    background-position: center center;
    opacity: 0.65;
    -webkit-filter: blur(4px) grayscale(60%);
            filter: blur(4px) grayscale(60%);
    z-index: 1;
  }
}

.blog-page__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .blog-page__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 900px) {
  .blog-post {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    z-index: 2;
    grid-column: span 8;
  }
}

.blog-post__inner {
  padding-top: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.blog-post__inner p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-post__inner p:last-child {
  padding-top: 0;
  padding-bottom: 0;
}

.blog-post__inner img {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  background-color: white;
}

@media screen and (min-width: 900px) {
  .blog-post__inner img {
    width: 500px;
    height: 500px;
  }
}

.sidebar {
  display: none;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #000;
  padding-top: 10px;
}

.sidebar a:hover, .sidebar a:active, .sidebar a:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #334d4d;
          text-decoration-color: #334d4d;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}

@media screen and (min-width: 900px) {
  .sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    background-color: white;
    border-radius: 8px;
    grid-column: span 4;
  }
}

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #a3c2c2;
}

.contact__inner {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.contact__inner p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  padding-top: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #334d4d;
  border-radius: 4px;
  width: 100%;
}

.form textarea {
  width: 100%;
  padding: 10px;
}

.form__button {
  display: inline-block;
  text-decoration: none;
  background-color: #334d4d;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  border: 1px solid #334d4d;
  border-radius: 4px;
  position: relative;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0 0.7em #1f2e2e;
          box-shadow: 0 0.7em #1f2e2e;
  cursor: pointer;
  width: 100px;
  margin: 20px auto;
}

.form__button:hover {
  background-color: #fff;
  color: #1f2e2e;
}

.form__button:active {
  top: 0.4em;
  -webkit-box-shadow: 0 0.5em #1f2e2e;
          box-shadow: 0 0.5em #1f2e2e;
}

.form__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
      grid-template-areas: "name name" "email email" "message message" "message message";
}

@media screen and (min-width: 750px) {
  .form__wrapper {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "name email" "message message";
  }
}

@media screen and (min-width: 900px) {
  .form__wrapper {
        grid-template-areas: "name message" "email message";
  }
}

.form__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.form__email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.form__message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #334d4d;
}

.footer__inner {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media screen and (min-width: 750px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}

.social-media img {
  width: 50px;
  height: auto;
  display: block;
}

.social-media a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.social-media a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 30px #a3c2c2;
          box-shadow: 0 0 30px #a3c2c2;
  background-color: #a3c2c2;
}

@media screen and (min-width: 750px) {
  .social-media {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.copyright {
  padding-top: 20px;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
  outline: none;
  border-radius: 50%;
  border: 1px solid #334d4d;
}

.back-to-top:hover {
  background-color: #fff;
}

.back_to_top-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */