.hero {
  @include spacing;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  &::before {
    @include background-img;
  }

  div {
    @include container;
    max-width: 800px;
    position: relative;
    
  }

  a {
    @include button;
  }
}
