.hero {
  @include spacing;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // TABLET
  @media screen and (min-width: 750px) {
    height: calc(100vh - 80px);
  }

  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background-image: url("../docs/monstera-background.jpeg");
    background-size: cover;
    background-color: $color-tertiary;
    background-position: center center;
    opacity: 0.65;
    filter: blur(4px) grayscale(60%);
  }

  div {
    @include container;
    max-width: 800px;
    position: relative;
  }

  a {
    @include button;
  }
}
