@mixin container {
  max-width: calc(1160px + 20px + 20px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@mixin title {
  font-family: Montserrat, "Sans Serif";
  color: $color-primary;
  text-align: center;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

@mixin link {
  display: block;
  text-decoration: none;
  color: $color-primary;
}