@mixin container {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@mixin title {
  font-family: Montserrat, "Sans Serif";
  color: $color-primary;
  text-align: center;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

@mixin spacing--lg {
  padding-top: 40px;
  padding-bottom: 40px;
}

@mixin link {
  display: block;
  text-decoration: none;
  color: $color-text;
}

@mixin background-img {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  background-image: url("../docs/monstera-background.jpeg");
  background-size: cover;
  background-color: $color-tertiary;
  background-position: center center;
  opacity: 0.65;
  filter: blur(4px) grayscale(60%);
}

@mixin button {
  display: inline-block;
  text-decoration: none;
  background-color: $color-secondary;
  margin-top: 30px;
  padding: 10px;
  color: $color-link;
  border: 1px solid $color-secondary;
  border-radius: 4px;
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0.7em $color-primary;

  &:hover {
    background-color: $color-link;
    color: $color-primary;
  }

  &:active {
    top: 0.4em;
    box-shadow: 0 0.5em $color-primary;
  }
}
