@mixin container {
  max-width: calc(1160px + 20px + 20px);
  min-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@mixin title {
  font-family: Montserrat, "Sans Serif";
  color: $color-primary;
  text-align: center;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

@mixin link {
  display: block;
  text-decoration: none;
  color: $color-text;
}
@mixin background-img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../docs/monstera-leaves.jpeg");
  background-size: cover;
  background-color: #cccccc;
  opacity: 0.65;
  filter: blur(2px);
}

@mixin button {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  color: $color-primary;
  border: 1px solid $color-secondary;
  border-radius: 4px;

  &:hover {
    background-color: $color-secondary;
    color: white;
  }
}
