.projects {
  @include spacing;
  background-color: $color-tertiary;

  // DESKTOP version
  @media screen and (min-width: 900px) {
    @include spacing--lg;
  }
}

.projects__inner {
  @include container;
}

.projects__three-cards {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  // TABLET version
  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  // DESKTOP version
  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.projects__card {
  @include link;
  @include card;

  // TABLET version
  @media screen and (min-width: 750px) {
    margin: 0;
    max-width: 100%;
  }

  img {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;

    // DESKTOP version
    @media screen and (min-width: 900px) {
      height: 300px;
    }
  }

  &:hover .overlay {
    opacity: 0.9;
  }
}

// TABLET version
.projects__card--first {
  img {
    max-height: 300px;
  }

  // TABLET version
  @media screen and (min-width: 750px) {
    grid-column-start: span 2;
  }

  // DESKTOP version
  @media screen and (min-width: 900px) {
    grid-column-start: span 1;

    img {
      height: 100%;
    }
  }
}

.overlay {
  @include overlay;
}

.overlay__content {
  @include overlay__content;
}
