// Experience component
.experience {
  @include spacing;
  background-color: $color-tertiary;

  // DESKTOP version
  @media screen and (min-width: 900px) {
    @include spacing--lg;
  }
}

.experience__inner {
  @include container;

  h2 {
    padding-bottom: 20px;
  }

  a {
    @include button;
    margin: 20px;
  }
}

.experience__three-cards {
  display: grid;
  gap: 10px;

  // TABLET
  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  // DESKTOP
  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.experience__card {
  border: 1px solid $color-secondary;
  border-radius: 8px;
  box-shadow: 1px 1px;
  padding: 20px;
}

.experience__card--skills {
  // TABLET
  @media screen and (min-width: 750px) {
    grid-column-start: span 2;
  }

  // DESKTOP
  @media screen and (min-width: 900px) {
    grid-column-start: span 1;
  }
}

.experience__card__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  img {
    height: 100px;
    width: auto;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.experience__card__inner2 {
  padding-top: 20px;

  ul {
    padding-left: 20px;
  }
}
